@font-face {
    font-family: "Items";
    src: url("/Items-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Items";
    src: url("/Items-Thin.otf");
    font-weight: 400;
}


@font-face {
    font-family: "Items";
    src: url("/Items-Regular.otf");
    font-weight: 500;
}


@font-face {
    font-family: "PP Neue Montreal";
    src: url("/PPNeueMontreal-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "PP Neue Montreal";
    src: url("/PPNeueMontreal-Book.otf");
    font-weight: 400;
}

@font-face {
    font-family: "PP Neue Montreal";
    src: url("/PPNeueMontreal-Regular.otf");
    font-weight: 500;
}

@font-face {
    font-family: "PP Neue Montreal";
    src: url("/PPNeueMontreal-Medium.otf");
    font-weight: 600;
}

@font-face {
    font-family: "PP Neue Montreal";
    src: url("/PPNeueMontreal-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: "PP Neue Montreal Mono";
    src: url("/PPNeueMontrealMono-Variable.otf");
    font-weight: 100 900;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #010203;
    font-family: "PP Neue Montreal";
    font-weight: 400;
    font-size: 1.5rem;

}

h1{
    font-family: "Items";
    font-weight: 300;
    font-size: 120px;
}

p{
    font-family: "PP Neue Montreal";
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}



:root {
  --line-gray: #D7DBDF;
  --fill-gray: #FBFCFD;
}


.paragraph-mono{
    font-family: "PP Neue Montreal Mono";
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 500;
    font-size: 1rem;
}



.pararaph-margin{
    padding: 8rem, 8rem;
}


.page-wrapper{
    width: 100%;
    margin: 0 auto;
}


.header-and-content{
    display: flex;
    flex-direction: row;
    

}


a:hover{
}



/* BLOCKS */

.no-background{
    box-sizing: border-box;
    padding: 5rem 0rem;
    height: 100%;
    gap: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 4;
}

.content{
    background-image: url(../assets/website-images/brand-bg.jpg);
    box-sizing: border-box;
    padding-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    gap: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 3;
}




.header-and-text{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    padding: 0rem 20rem;
    width: 100%;
}